@import url('https://fonts.googleapis.com/css2?family=Allura&family=Moon+Dance&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
 scroll-behavior: smooth;
}
#Inicio{
    font-family: 'Allura', cursive;
    font-family: 'Moon Dance', cursive;
    background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url("img/11.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
}
#Inicio .contenido header{
    background-color: rgba(0,0,0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#Inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#Inicio .contenido header .contenido-header h1{
    text-align: initial;
    color: white;
}
#Inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    
}
#Inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: white;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}
#Inicio .contenido header .contenido-header nav ul a:hover{
    color: rgb(153, 57, 231);
}
#Inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Inicio .contenido .presentacion .Bienvenida{
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#Inicio .contenido .presentacion h2{
    font-size: 90px;
    margin-bottom: 25px;
    text-align: center;
}
#Inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;

}
#Inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#Inicio .contenido .presentacion a:hover{
background-color: #ad7b84;
}
#icono-nav{
    color: #fff;
    display: none;
}
/*SECCION C U E N T A  A T R A S*/ 

#cuentaregresiva {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(232, 247, 248, 0.8), rgba(203, 239, 250, 0.8));
}

.countdown{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 0;
    text-align: center;
    color: white;
    max-width: 1200px;
    width: 100vw;
    
}

#cuentaregresiva .countdown h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000 ;
    font-weight: lighter;
}

#timer {
    display: flex;
    color: #0f0f0f;
}

#timer div {
    flex: 1;
}

#timer span {
    display: block;
    font-size: 50px;
}

label {
    font-size: 20px;
}

/* SECCION N O S O T R O S*/
.contenedor-nosotros{
    max-width: 1200px;
    margin: auto;
    padding: 50px 15px;
    color: #111135;
    display: flex;
}

#Nosotros .titulo{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 29px;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#Nosotros .contenedor-foto{
   margin-right: 10px;
   width: 200pc;
   display: flex;
   align-items: center;
}
#Nosotros .contenedor-foto img{
    padding: 8px;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
}
#Nosotros .sobremi{
    margin: 0 40px;
}
#Nosotros .sobremi .titulo-seccion{
    margin-top: 20px;
    font-size: 29px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    text-align: center;
}
#Nosotros .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
#Nosotros .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#Nosotros .sobremi p{
    font-size: 20px;
    line-height: 25px;
    color: #0c0c0c;
    margin-bottom: 12px;
    
}

/*LINEA DEL TIEMPO*/
#linea .titulo{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 29px;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#linea .timeline{
    position: relative;
    margin: 40px auto;
    padding: 20px 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    
}
#linea .event{
    text-align: center;
    margin-top: 28px;
}
#linea .event p{
    margin: 5px 0;
    font-size: 25px;
}
#linea .event2{
    text-align: center;
}
#linea .event2 p{
    margin: 5px 0;
    font-size: 25px;
}
#linea .event2 img{
    margin-top: 40px;
}
#linea .event3{
    text-align: center;
}
#linea .event3 p{
    margin: 5px 0;
    font-size: 25px;
}
#linea .event3 img{
    margin-top: 22px;
}
#linea .event4{
    text-align: center;
}
#linea .event4 p{
    margin: 5px 0;
    font-size: 25px;
}
#linea .event4 img{
    margin-top: 16px;
}


/*seccion A L B U M*/
#album{
    
    padding: 10px 0;
    margin: auto;
    list-style: none;
    background: linear-gradient(rgba(232, 247, 248, 0.8), rgba(203, 239, 250, 0.8));
}
#album .titulo-seccion{
    margin-top: 20px;
    text-align: center;
    font-size: 29px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    
}

.container{
    width: 100%;
    min-height: 50hv;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 50px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img {
    width: 100%;
}

/*seccion viedma*/
#viedma{
    max-width: 1000px;
    margin: auto;
    padding: 50px 15px;
    color: #111135;
    display: flex;
     
}
#viedma .titulo{
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 29px;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#viedma .contenedor-foto2{  
    margin-left: 10px;
    
}
#viedma .contenedor-foto2 img{
    padding: 8px;
    width: 110%;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 1px;
}
    #viedma .elegimosviedma h2{
        font-size: 34px;
        font-weight: lighter    ;
        margin: 20px 0;
        letter-spacing: 2px;
        
}
#viedma .elegimosviedma .historia p{
    font-size: 20px;
    line-height: 25px;
    color: #0c0c0c;
    margin-bottom: 12px;
}

/*SECCION CUANDO Y DONDE*/
#Cuando {  
    background: linear-gradient(rgba(232, 247, 248, 0.8), rgba(203, 239, 250, 0.8));  
    margin: auto;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
}

#Cuando .titulo-seccion{
    text-align: center;
    font-weight: lighter;
    font-size: 25px;    
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    margin-bottom: 60px;
}

#Cuando .titulo-seccion h2{
    font-size: 34px;
    font-weight: lighter;
}

.cuando-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Cuando .civil{
    padding: 95px;
    background-color: lightblue;
    text-align: center;
    margin-right: 60px;
    border-radius: 40px;
    position: relative;
}

.civil::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    filter: blur(2px);
    background-image: url('./img/maps/civil.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    object-fit: cover;
}

#Cuando .civil .civilText{
    position: relative;
    width: 200px;
    height: 100px;
}

#Cuando .ceremonia{
    padding: 95px;
    background-color: lightblue;
    text-align: center;
    margin-left: 90px;
    margin-right: 30px;
    border-radius: 40px;
    position: relative;
}

.ceremonia::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    filter: blur(2px);
    background-image: url('./img/maps/salon.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    object-fit: cover;
}

#Cuando .ceremonia .salon{
    position: relative;
    width: 200px;
    height: 100px;
}

#Cuando .civil a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}
#Cuando .civil a:hover{
    background-color:rgb(20, 162, 245);
    color: #fff;
}
#Cuando .ceremonia a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}
#Cuando .ceremonia a:hover{
    background-color:rgb(20, 162, 245);
    color: #fff;
}
/*SECCION ITINERARIO*/

#Itinerario p{
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    font-size: 29px;
    
}

#Itinerario .titulo-seccion{
    margin-top: 30px;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#Itinerario .timeline{
    
    position: relative;
    margin: 60px auto;
    padding: 10px 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

#Itinerario img{
    height: 100px;
}

#Itinerario .event{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Itinerario .event p{
    margin: 5px 0;
    font-size: 25px;
}
#Itinerario .event2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Itinerario .event2 p{
    margin: 5px 0;
    font-size: 25px;
}

#Itinerario .event3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Itinerario .event3 p{
    margin: 5px 0;
    font-size: 25px;
}

#Itinerario .event4{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Itinerario .event4 p{
    margin: 5px 0;
    font-size: 25px;
}

/*SECCION ASISTENCIA*/

#Asistencia{
    max-width: 1200px;
    padding: 20px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Asistencia .titulo-seccion{
    text-align: center;
    font-size: 29px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    padding: 20px;
}
#Asistencia .ir{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #0c0c0c;
    margin-bottom: 12px;
      
}
#Asistencia .forms{
    padding: 40px;
}
#Asistencia .forms a{
    text-decoration: none;
    color: #000000;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #000000;
    margin-top: 30px;
    transition: .5s;
}
#Asistencia .forms a:hover {
    background-color: #e40303;
    color: #f8f8f8;
}

/* R E G A L O S*/
#Regalos{
    max-width: 1200px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
}
#Regalos .titulo{
    text-align: center;
    font-size: 29px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    padding: 20px;
}

#Regalos .titulo p{
    text-align: center;
    font-size: 29px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    padding: 20px;
}

#Regalos .contenedor-foto{
    max-width: px;
    margin-right: 80px;
}
#Regalos .contenedor-foto img{
    padding: 8px;
    width: 50%;
    border-radius: 20px;
    background-color: #fff;
}
#Regalos .sobremi{
    margin: 0 40px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #0c0c0c;
    margin-bottom: 12px;
    
    
}
#Regalos .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#Regalos .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
#Regalos .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#Regalos .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color: #0c0c0c;
    margin-bottom: 12px;
    
}
